* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: black;
  font-family: 'Playfair Display';
  font-size: 2.5rem;
  color: white;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

#about {
  padding: 0 2rem;
  color: rgba(255, 255, 255, 0.5);
  transition: color 1s ease-in, transform 0.5s ease-in;
  font-size: 3rem;
  text-decoration: none;
}

#about:hover {
  color: white;
  transform: scale(1.8);
  cursor: pointer;
}

#numbers {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  justify-content: space-around;
  padding: 0 1rem;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

#numbers span {
  padding: 0.75rem 0 1.5rem 0;
}

#numbers span.inactive {
  color: rgba(255, 255, 255, 0.5);
  cursor: default;
  transition: color 1s ease-in;
}

#numbers span.active {
  color: white;
  transition: color 1s ease-in, transform 0.5s ease-in;
}

#numbers span.active:hover {
  cursor: pointer;
  transform: scale(1.8);
}

#numbers span.selected {
  transform: scale(1.8);
}

.flex {
  display: flex;
}

#about-container {
  position: absolute;
  bottom: 5vh;
  z-index: 1;
}

.appear, {
  opacity: 1;
  transition: opacity 1s ease-in;
}

.disappear {
  opacity: 0;
  transition: opacity 1s ease-in;
}

.center {
  text-align: center;
}

.closed {
  transform: scale(0.7);
  opacity: 0;
  transition: all 0.3s;
}

.opened {
  transform: scale(1);
  opacity: 1;
  transition: all 0.3s;
}

#modal {
  position: absolute;
  top: calc(100%/3);
  left: calc(100%/4);
  z-index: 3;
  width: 50%;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  padding: 3rem;
  font-size: 1.2rem;
  font-family: sans-serif;
}

#modal h1 {
  font-family: 'Playfair Display';
}

#modal-close {
  float: right;
  position: relative;
  top: -1.6rem;
  left: 1.1rem;
}

#modal-close:hover {
  cursor: pointer;
}

h1 {
  margin: 0;
}

.social {
  color: rgba(255, 255, 255, 0.75);
  text-decoration: none;
  transition: color 1s ease-in;
  margin-right: 0.75rem;
}

.social:last-of-type {
  margin-right: 0;
}

.social:hover {
  color: white;
}

p {
  margin: 0;
  line-height: 1.45rem;
}

p:last-of-type {
  margin-top: 1rem;
}

.italic {
  font-style: italic;
}
